.cell {
    background-image: url(./searchImg/gotham.jpg);
    background-size: cover;
    min-height: 292px;
    background-repeat: no-repeat;
}

input {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: black;
    color: #4DB6CC;
    min-width: 195px;
}

::placeholder{
    color: #4DB6CC;
}