body {
  margin: 0;
  font-family: "batmanForever"

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: batmanForever;
  src: url(./assets/fonts/batman-forever/batmfa__.ttf);
}

.instructions {
  color: #626a6b;
}